<%= javascript_pack_tag 'application' %>

<div id="root" data-offers='<%= raw @offers.to_json %>'></div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var offers = JSON.parse(document.getElementById('root').getAttribute('data-offers'));

    ReactDOM.render(<OffersList offers={offers} />, document.getElementById('root'));
  });
</script>